:root {
    box-sizing: border-box;
    /*Applies border box sizing to the root element*/
    font-size: 0.9rem;
    line-height: 1.2;
}

*,
::before,
::after {
    box-sizing: inherit;
    /* Tells all other elements and pseudo-elements to inherit their box sizing */
}

html, /* to override the browser defaults */
body {
    margin: 0 auto;
    padding: 0;
    width: 80vw;
    font-family: 'Inter Tight', sans-serif;
}

.grid {
    display: grid;
    /* grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto; */
    grid-template: auto auto / 1fr;
}

#navbar li {
    display: block;
    list-style: none;
    text-align: center;
}

#navbar a {
    text-decoration: none;
}

#navbar ul {
    padding: 0;
}

.main-section {
    padding: 0 0.25em;
}

.main-section,
#navbar,
#main-heading,
footer {
    border-radius: 5px;
    border: 2px dodgerblue solid;
}

h1 {
    font-family: 'Archivo', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
}

/* #introduction li {
    list-style: none;
    margin-left: 0;
} */

#introduction ul {
    list-style: none;
    padding-left: 0.25em;
}

summary {
    color: dodgerblue;
    font-weight: bold;
}

span {
    font-weight: bold;
    color: fuchsia;
}

code {
    display: block;
    background-color: navy;
    color: white;
    margin: 0 0.25em 0.25em;
    padding: 0.25em;
    border-radius: 5px;
}

#introduction code {
    display: inline-block;
}

/* #syntax code {
    display: inline-block;
} */

footer {
    text-align: center;
}


@media (min-width: 30em) {
    :root {
        font-size: 1rem;
    }

.grid {
        grid-template: auto auto / 1fr 3fr;
    }

#navbar li {
    text-align: left;
    }

code {
    padding: 0.5em 1em;
    display: block;
    background-color: black;
    color: white;
    font-family: Inconsolata, monospace ;
}

footer {
    grid-area: 2 / 3 / 1 / 3;
}

}