:root {
    box-sizing: border-box;
    /*Applies border box sizing to the root element*/
    font-size: 0.9rem;
    line-height: 1.2;
}

*,
::before,
::after {
    box-sizing: inherit;
    /* Tells all other elements and pseudo-elements to inherit their box sizing */
}

html,
body {
    margin: 0 auto;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    background-color: #FFFDF7;
}

.grid {
    display: grid;
    grid-template-areas: "main-heading"
                         "navbar"
                         "content"
                         "footer";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
}

#logo {  
    display: none; /*hides the CSS logo for the single column layout */
}

#main-heading {
    grid-area: main-heading;
    background-color: #a10220;
    color: #FFFDF7;
    padding: 0.75em 0 0;
}

#navbar {
    grid-area: navbar;
    background-color: #0a101f;
    border-top: 0.35em solid #FFFDF7;
    border-bottom: 0.35em solid #FFFDF7;
}

#navbar ul { /* To override the list browser defaults */
    margin: 0;
    padding: 0;
}

#navbar li {
    display: block;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 1.25em 0.5em;
}

#navbar a {
    text-decoration: none;
    color: chartreuse;
    font-size: 1.2rem;
}

#content {
    grid-area: content;
    margin-bottom: 2em;
    padding: 0 0.25em;

}

.main-section {
    padding: 0 0.25em;
}

#introduction ul {
    list-style: none;
    padding-left: 1em;
}

#introduction code {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.5em;
}

details {
    margin-bottom: 0.4em;
}

summary {
    color: #00a8e8;
    font-weight: bold;
}

span {
    font-weight: bold;
    color: #f72585;
}

code {
    display: block;
    background-color: #191716;
    color: white;
    margin: 0 0.25em 0.25em;
    padding: 0.5em;
    border-radius: 5px;
}

footer {
    grid-area: footer;
    background-color: #0a101f;
    color: #FFFDF7;
    /* border-top: 0.35em solid chartreuse; */
    height: 4em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer a {
    color: chartreuse;
}


h1 {
    font-family: 'Archivo', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    margin: 0.5em 0;
}

h4, h5 {
    margin: 0;
}

/*******************************************************/
/********* Tablet Devices - Larger than 784px **********/
/*******************************************************/


@media (min-width: 49em) {
    /* :root {
        font-size: 1rem;
    } */

    html, 
    body {
        width: 90vw;
    }

.grid {
        grid-template-areas: "logo main-heading"
                             "navbar content"
                             "footer footer";
        grid-template-rows: auto auto auto;
        grid-template-columns: minmax(min-content, 15em) 3fr;
    }

#logo {
    display: block;
    text-align: center;
    background-color: #990100;
    padding: 0.5em 0;
    }

#navbar li {
    text-align: left;
    }

#main-heading {
        background-color: #0a101f;
        border-left: 0.35em solid #FFFDF7;
    }


code {
    padding: 0.5em 1em;
    display: block;
    background-color: black;
    color: white;
    font-family: Inconsolata, monospace ;
}

}

/*******************************************************/
/********* Tablet Devices - Larger than 768px **********/
/*******************************************************/